#Hyderabad #Chennai {
    float: left!important;
    width:50%;
    margin: 70px 0px 0px 30px;
}

 /* header */

.logo{
    border-radius: 50%;
    border: 1px solid #333;
    display: block;
    height: 46px;
    width: 46px;
    float: left;
    overflow: hidden
}
.logo img{
    width: 45px;
    height: 45px
}
.navbar-brand img {
    width: 100% !important;
}
.navbar-brand {
    /* float: left;
    height: 50px;
    padding: 15px 15px; */
    font-size: 18px;
    line-height: 20px;
}
.navbar-brand p{
    margin: 5px 10px;
}