<div class="sidenavbar">
        <ul class="nav flex-column">
                <li class="nav-item" *ngFor="let sidenav of sidenavbars" >
                  <a class="nav-link active" href="#">{{sidenav}}</a>
                </li>
                <!-- <li class="nav-item">
                  <a class="nav-link" href="#">Tabs</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Badges</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Spinners</a>
                </li> -->
              </ul>
</div>